@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600;700;800&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}

.hero-main-section {
  background-image: radial-gradient(
    closest-side at 55% 40%,
    #fff,
    rgb(251, 236, 221)
  );
}

.hero-logo-section {
  padding: 20px 0 20px 0;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}

.hero-bike-section {
  display: flex;
  align-items: center;
  margin-left: 80px;
  margin-right: 80px;
  justify-content: space-between;
  margin-bottom: 30px;
}

.bike-info-title {
  font-family: "Noto Sans";
  font-weight: 800;
  font-size: 17px;
}

.bike-info-subtitle {
  font-family: "Noto Sans";
  font-weight: 700;
  font-size: 19px;
  text-transform: uppercase;
  color: #f05f16;
}

.bike-info-border1 {
  border-bottom: 0.5px solid #f05f16;
  padding-bottom: 20px;
  width: 115px;
}

.bike-info-border2 {
  border-bottom: 0.5px solid #f05f16;
  padding-bottom: 20px;
  width: 78px;
}

.hero-bike-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.bike-info-helmet {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.info-helmet {
  z-index: 3;
}

.hero-button {
  background-color: #f9ea2a;
  color: black;
  padding: 8px 15px 8px 15px;
  border-style: none;
  text-transform: uppercase;
  border-radius: 3px;
  font-size: 15px;
  font-family: "Noto Sans";
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 10px;
  z-index: 1;
  -webkit-box-shadow: 2px 8px 26px -1px #c4c4c4;
  box-shadow: 2px 8px 26px -1px #c4c4c4;
}
