.btn-stand {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding-bottom: 65px;
}

.btn-stand-dealer {
  font-family: "Noto Sans";
  font-weight: 600;
  text-transform: uppercase;
  border-style: none;
  padding: 10px;
  background-color: #f9ea2a;
  font-size: 15px;
  border-radius: 3px;
  -webkit-box-shadow: 2px 8px 26px -1px #c4c4c4;
  box-shadow: 2px 8px 26px -1px #c4c4c4;
}

.btn-stand-ride {
  font-family: "Noto Sans";
  font-weight: 600;
  text-transform: uppercase;
  border-style: none;
  padding: 10px;
  background-color: #fefefe;
  font-size: 15px;
  border-radius: 3px;
  -webkit-box-shadow: 2px 8px 26px -1px #c4c4c4;
  box-shadow: 2px 8px 26px -1px #c4c4c4;
}

.btn-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
}
